html,
body {
  padding: 0;
  margin: 0;  
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
  background-color: #daffe2 ;
  
}
.menuBar{
  font-size: x-large;
  padding: 1px;
}
.menuBar ol{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  border: 2px solid #C0c0c0 ;  
}
.menuBar ol li{
  margin: 20px;
}
.menuBar ol li a:hover{
  background-color: #23ffbe;
}
.title{
  margin-left: 20px;
  margin-top: 20px;
}
.title h1{
  font-size: 9vh;
  font-weight: bolder;
  padding:10px 0 25px;
}
.title h1 span{
  display: block;
}
.description{
  max-width: 650px;
  padding: 10px;
  margin-left: 50px;
}
.description p{
  font-size: 4vh;
  color: #969696;
} 
.Footer{
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.Footer .faicon{
  display: inline;
}
.Footer .last{  
  padding-bottom: 6px;
}