div .PlantCard{
  max-width: 380px;
  background-color: rgba(252, 252, 252, 0.226);
  border-radius: 10px;
  padding: 3px;
  margin-bottom: 25px;
  box-shadow:1px 1px 1px 2px rgba(0,0,0,0.77);
-webkit-box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.77);
-moz-box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.77);
}
div .PlantCard p{
  border: 1px solid olive;
  text-align: center;
  padding: 3px;
  margin: 5px;
  border-radius: 9px;

}

div .PlantCard figure img{
  padding: 3px;
  border-radius: 10px;
  max-height: 227px;
  max-width: 327px;
  min-height: 227px;
  min-width: 327px;

}
div .PlantCard figure figcaption{
  text-align: center;
  font-size: 15px;
  display: block;

}